body {
    font-family: Arial, Helvetica, sans-serif;
    background:rgb(250, 245, 248)
}

.body-index {
    background-color: white;
}

.wrap1 {
    width: 500px;


}
.border1 {
    border: solid rgb(65, 62, 63) ;
    border-width: 2px;
    border-radius: 12px;
    padding: 10px;
    margin: 90px auto;
}

.title1 {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: rgb(110, 11, 11);
}

.title2 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: rgb(45, 6, 6);
}

.list {
    font-size: 25px;
    text-align: left;
    color: rgba(12, 15, 147, 0.993);
}

.list2 {
    font-size: 20px;
    text-align: left;
    padding:8px;
    color: rgb(38, 57, 10);
}

.margin-bottom1 {
    margin-bottom: 30px;
    display: block;
}

ul {
    display: inline-block;
    text-align: left;
}

/* no to close to the left, making some space, padding-left or margin-left */
#left-close {
padding-left: 25%;
}

.right-image {
    display: block;
    margin-left: auto;
    margin-right: 15%;
    width: 25%;
}

.color3 {
    color:rgb(33, 76, 249);
    font-size: 25px;
}

.color4 {
    color: rgb(128, 105, 22);
}

/* align all text to the center */
.str1-1 {
    text-align: center;
}

/* Align images in the center */
.center-image {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#container-1{
    display: block;
    margin: 5px auto;
    padding: 8px 250px;
}

.border2 {
    margin: 15px;
    padding: 10px;
    border: 3px rgb(115, 115, 115) inset;
    width: 450px;
}

.border3 {
    border: 10px gray groove;
}

.inline-1 {
    display: flex;
    float: right;
}

.flex-con-1 {
    background-color: peach;
    border: 3px;
    height: 100px;
    flex: 1;
}

.space1 {
    border: 10px;
    margin: 35px;
    padding:25px;
}